AppOpener
asyncio
beautifulsoup4
bs4
cohere
edge-tts
googlesearch-python
groq
keyboard
mtranslate
numpy
pillow
psutil
pyautogui
pygame
PyQt5
pywhatkit
pywin32
python-dotenv
pyqtgraph
requests
rich
selenium
webdriver-manager
